In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\Project\Dataset\product_sales.csv')

In [3]:
df

,Date,Customer Type,Country,Product,Discount Band,Units Sold
0,1/12/2023,Government,Germany,SR1001,None,15
1,1/12/2023,Education,United States of America,RR10020,None,6
2,1/12/2023,Government,Canada,FR10021,None,18
3,1/12/2023,Government,Germany,FR10021,None,15
4,1/12/2023,Government,Canada,HY1004,None,18
...,...,...,...,...,...,...
1041,1/1/2022,Creator,Canada,AR1200,High,9
1042,1/1/2022,Government,Germany,SR1001,High,8
1043,1/1/2022,Education,Germany,PS10022,High,17
1044,1/1/2022,Enterprise,France,SR1001,High,5
1045,1/1/2022,Education,Canada,FR10021,High,19

In [4]:
df["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y").dt.strftime("%Y/%m/%d")

In [5]:
df

,Date,Customer Type,Country,Product,Discount Band,Units Sold
0,2023/12/01,Government,Germany,SR1001,None,15
1,2023/12/01,Education,United States of America,RR10020,None,6
2,2023/12/01,Government,Canada,FR10021,None,18
3,2023/12/01,Government,Germany,FR10021,None,15
4,2023/12/01,Government,Canada,HY1004,None,18
...,...,...,...,...,...,...
1041,2022/01/01,Creator,Canada,AR1200,High,9
1042,2022/01/01,Government,Germany,SR1001,High,8
1043,2022/01/01,Education,Germany,PS10022,High,17
1044,2022/01/01,Enterprise,France,SR1001,High,5
1045,2022/01/01,Education,Canada,FR10021,High,19

In [6]:
df.to_csv("product_sales4.csv", index=False)